<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>MTG App - Card List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	 
</head>

<body>

	<div class="container text-center">
		<header>
			<div th:replace="~{fragments :: headerfragment}"></div>
		</header>
		<br /><br />




		<h1>Card List</h1>
		<table class="table table-striped">
			<thead class="sticky-top table-dark">
				<tr>
					<th>Card Image</th>
					<th>Card Name /<br/> Type Text</th>
					<th>OracleText</th>

					<th>Colors</th>
					<th>Mana Cost</th>
					<th>Produced Mana</th>

					<th>Power / Toughness</th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				<!--IN CONTROLLER, BOOK TABLE IS SAVED INTO 'BOOKS'
		THEN THYMELEAF SHOWS THE ACCESSED BOOK DATA-->
				<tr th:each="card : ${cards}">
					<td><img th:src="${card.imageUrl}" width=200 /></td>
					<td th:utext="${card.cardName} + '<br/><br/>' + ${card.typeText}">id</td>
					<td th:text="${card.oracleText}" style="width: 400;">id</td>

					<td th:text="${card.colorIdentity}">id</td>
					<td th:text="${card.manaCost}">id</td>
					<td th:text="${card.producedMana}">id</td>

					<td>
						<span th:if="${card.power != -999}" th:text="${card.power} +' / '+ ${card.toughness}"></span>
						<span th:if="${card.power == -999}"> - </span>
					</td>

					<td><a th:href="@{/viewcard/{id}(id=${card.id})}" type="button" class="btn btn-primary">View +
							Options</a></td>
				</tr>
			</tbody>

		</table>
	</div>

</body>

</html>