
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MTG App - Create deck</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
</head>

<body>
	<h1>Add deck</h1>

	<div>
		<form th:object="${newDeck}" th:action="@{savenew}" action="#" method="post">

			<label for="name">Deck Name</label>
			<input type="text" id="name" th:field="*{name}" />
			<br/>
			<label for="desc">Description</label>
			<input type="text" id="desc" th:field="*{description}" />
			<br/>

			<br/>

			<input type="submit" value="Save"></input>
		</form>
	</div>
	

</body>
</html>