<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<head>
	<title>Thymeleaf Fragments: home</title>
	<!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
        </th:block> /*/-->
</head>

<body>

	<div th:fragment="headerfragment">
		<div class="container">
			<div class="row">
				<a th:href="@{/index}" class="col btn btn-primary">Index</a>
				<a th:href="@{/userlist}" class="col btn btn-info">Users</a>
				<a th:href="@{/cardlist}" class="col btn btn-primary">Cards</a>
				<div class="col">Current user:</div>
				<th:if></th:if>
				<div class="col" th:text="${currentUser} != null ? ${currentUser.profileName} : 'Not logged in'"></div>
			</div>
		</div>
	</div>

</body>

</html>