<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<head>
	<title>Thymeleaf Fragments: home</title>
	<!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
        </th:block> /*/-->
</head>

<body>

	<div th:fragment="headerfragment">
		<div class="container">
			<div class="row">
				<div class="col">
					<a th:href="@{/index}" class="col btn btn-primary" style="background-color: #3C2826">Index</a>
				</div>
				<div class="col">
					<a th:href="@{/userlist}" class="col btn btn-info" style="background-color: #6D3530">Users</a>
				</div>
				<div class="col">
					<a th:href="@{/cardlist}" class="col btn btn-primary" style="background-color: #BE6E4B">Cards</a>
				</div>
				
				
				

				
				<!-- IF USER IS LOGGED IN -->
				<div class="col" th:if="${currentUser} != null">
					<div>Current user:</div>
					<div th:text="${currentUser.profileName}"></div>
				</div>
				<div class="col" th:if="${currentUser} != null">
					<a th:href="@{/myprofile}" class="col btn btn-primary" style="background-color: #BE6E4B;">My profile</a>
					<a th:href="@{/logout}" class="col btn btn-light" style="background-color: #EFD1B6;">Logout</a>
				</div>

				<!-- IF NO USER IS LOGGED IN -->
				<div class="col" th:if="${currentUser} == null">
					<a>No logged user</a>
				</div>
				<div class="col" th:if="${currentUser} == null">
					<a th:href="@{/login}" class="col btn btn-primary" style="background-color: #BE6E4B;">Login</a>
					<a th:href="@{/signup}" class="col btn btn-light" style="background-color: #EFD1B6;">Register</a>
				</div>

				<!-- <div class="col" th:if="${currentUser} == null">
					<div >Current user:</div>
				</div>
				<div class="col" th:if="${currentUser} == null">
					<div >No logged user</div>
				</div> -->

				<!-- <div class="col" th:text="${currentUser} != null ? ${currentUser.profileName} : 'Not logged in'"></div> -->
			</div>
		</div>
	</div>

</body>

</html>