<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>MTG App - Index</title>


	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>

	<div class="container text-center">
		<header>
			<div th:replace="~{fragments :: headerfragment}"></div>
		</header> 
		<br /><br />

		<h1>MTG App by Otto Elomaa</h1>
		<br/>
		<p>Welcome to the MTG App!</p>
		<br/>
		<p>This app is for viewing cards for the 'Magic: the gathering' card game... and for making your own decks!</p>
		<p>Currently this app is only showing a very limited amount of test data. Also it's missing 
			all search and filter functionalities.
			It's more like a showcase of what this app could do if it was developed more.
		</p>


	</div>

</body>

</html>