<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>MTG App - My profile</title>


	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>

	<div class="container text-center">
		<header>
			<div th:replace="~{fragments :: headerfragment}"></div>
		</header> 
		<br /><br />

		<h1>Your profile</h1>
		<br/>
		<p>Welcome to the MTG App! This is your profile</p>
		<br/>
		<p>This app is for viewing cards for the 'Magic: the gathering' card game... and for making your own decks!</p>
		<p>Currently only showing a limited amount of test data.</p>


	</div>

</body>

</html>