<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>MTG App - User Info</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="/css/cardliststyle.css" th:href="@{/css/cardliststyle.css}" />
</head>

<body>

	<!--IN CONTROLLER, A CARD IS SAVED INTO 'SelectedCard'
		THEN THYMELEAF SHOWS THE ACCESSED BOOK DATA
		
		SOURCE FOR CONTAINERS AND TABLE STUFF: BOOSTRAP DOCS-->


	<div class="container text-center">

		<header>
			<div th:replace="~{fragments :: headerfragment}"></div>
		</header>
		<br/>

		<!--ROW 1: HEADLINE - CARD NAME-->
		<div class="row">
			<div class="col">
				<h1 th:text="${selectedDeck.name}">Card Info</h1>
			</div>
		</div>

		<!--ROW 2 - IMAAGE AND INFO-->
		<div class="row">






			<table class="table table-dark table-striped-columns">

				<thead>

				</thead>

				<tbody>
					<tr>
						<td scope="col">Deck name</td>
						<td scope="col" th:text="${selectedDeck.name}">id</td>
					</tr>
					<tr>
						<td>Deck Description</td>
						<td th:text="${selectedDeck.description}">id</td>
					</tr>

				</tbody>
			</table>

			<table class="table table-striped-columns">
				<tbody>
					<!--IN CONTROLLER, BOOK TABLE IS SAVED INTO 'BOOKS'
				THEN THYMELEAF SHOWS THE ACCESSED BOOK DATA-->
					<tr th:each="card : ${selectedDeck.cardsInDeck}">

						<td><img th:src="${card.imageUrl}" width=200 /></td>
						<td th:text="${card.cardName}">id</td>
						<td th:text="${card.oracleText}">id</td>
						<td th:text="${card.typeText}">id</td>

						<td th:text="${card.colorIdentity}">id</td>
						<td th:text="${card.manaCost}">id</td>
						<td th:text="${card.producedMana}">id</td>

						<td th:text="${card.power}">id</td>
						<td th:text="${card.toughness}">id</td>
					</tr>
				</tbody>

			</table>
		</div>




		<div class="row">
			<div class="col">
				<a th:href="@{/viewuser/{id}(id=${currentUser.userId})}" type="button" class="btn btn-primary">Back to User List</a>
			</div>
		</div>

	</div>
	</div>

</body>

</html>